/venv/
.idea/
db.sqlite3
**/__pycache__/
.env
__pycache__/
*.py[cod]
*$py.class


*.so


.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg


*.manifest
*.spec


pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

*.mo
*.pot

*.log
local_settings.py
settings_local.py

instance/
.webassets-cache

.scrapy

docs/_build/


target/

.ipynb_checkpoints

.python-version

celerybeat-schedule

.env

venv/
ENV/
mobiEnv/

.spyderproject

.ropeproject

.idea/*

**/migrations/*
!**/migrations/__init__.py
!helpers/__init__.py

static/downloads
npm-debug.log
bower_components
node_modules
client_profile.bundle.js
bundle.css
bundle.css.map
client_profile.bundle.js.map
.vscode
.env
.idea
uwsgi/*
!uwsgi/uwsgi.ini
!uwsgi/uwsgi.dev.ini
!uwsgi/uwsgi.homo.ini
omnisaude-google-prod-key.json

database/
/testes/
