{% extends 'base.html' %}
{% load static %}
{% block content %}


    <p>{% if erros %} {{ erros }} {% endif %}</p>
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

<form method="post" actions="http://127.0.0.1:8000/likes/">
    {% csrf_token %}
    <div class="row gtr-uniform">
        <div class="col-6 col-12-xsmall">
            <p>Usuario:<input type="text"  name="usuario" id="usuario" value="fd1e7720-c804-4c5e-a061-c73daf1e713a"/></p>
            <p>Pizza:<input type="text" name="pizza" id="pizza" value="fd1e7720-c804-4c5e-a061-c73daf1e713a"/></p>
            <p>Pedido:<input type="text"  name="pedido" id="pedido" value="fd1e7720-c804-4c5e-a061-c73daf1e713a"/></p>
            <p>Nota:<input type="number" max="5" min="0" name="nota" id="nota" value=""/></p>
            <p>Comentário:<input type="text" name="comentario" id="comentario" value=""/></p>
        </div>
        <div class="col-12">
               <input type="submit" value="Salvar">
        </div>
    </div>
</form>
{% endblock %}