{% extends 'base.html' %}
{% block content %}
<div class="posts">
{% for pizza in object_list %}
    <article>
        <img src="https://img.estadao.com.br/thumbs/640/resources/jpg/8/9/1569458498298.jpg" alt="foto da pizza" width="200" height="200">
        <h2>{{ pizza.nome }} - R$: {{ pizza.preco }}</h2>
        <h4>Tamanho: {{ pizza.tamanho }}</h4>
        <ul class="actions">
            <li><a href="{% url 'detail-pizza'  pizza.id %}" class="button">Detalhes</a></li>
        </ul>
    </article>
{% empty %}
    <article>
       <li>Não temos pizzas cadastradas</li>
    </article>
{% endfor %}
</div>
{% endblock %}
