{% extends 'base.html' %}

{% block content %}

<div id="main">

	<section>
		{% if messages %}
		  <ul class="messages">
			{% for message in messages %}
			  <li class="{{ message.tags }}">{{ message }}</li>
			{% endfor %}
		  </ul>
		{% endif %}
		{% if user.is_superuser %}
		<div class="col-12">
			<ul class="actions">
				<li><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
					  Excluir Setor
					</button>
				</li>
			</ul>
		</div>
		{% endif %}
	<header class="major">
		<h2>Unidade: {{ setor.unidade.nome }} - Setor: {{ setor.nome }}</h2>

	</header>
		<div class="col-12">
			{% if leitos %}
				<strong>LEITOS CADASTRADOS NO SETOR:</strong>
			{% endif %}
		</div>
		<ul>
			{% for leito in leitos %}
				<li class="list-group-item"><a href="{% url 'detalhes_leito' setor.unidade.codigo setor.codigo leito.id %}">Leito: {{ leito.numero_leito }} - Status: {{ leito.status }}</a></li>
				{% empty %}
					<li class="info">Nenhum Leito Encontrado!</li>
			{% endfor %}
		</ul>

	</section>

</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">EXCLUIR SETOR</h5>
				<button type="button" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
		<div class="modal-body">
			<p>Deseja excluir o Setor: {{ setor.nome }} da unidade {{ setor.unidade.nome }}?</p>
		</div>
			<div class="modal-footer">
				<form method="post" action="{% url 'excluir_setor' setor.unidade.codigo setor.codigo %}" >
					{% csrf_token %}
					<button type="submit" class="primary">EXCLUIR</button>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}