{% extends 'base.html' %}

{% block content %}
{% if user.is_superuser %}
<header class="major">
		<h2>Usuário: {{ usuario.username }}</h2>
</header>
<body class="is-preload">
	<div id="wrapper">
		<div id="main">
				<article id="beds" class="wrapper style3">
					{% if messages %}
					  <ul class="messages">
						{% for message in messages %}
						  <li class="{{ message.tags }}">{{ message }}</li>
						{% endfor %}
					  </ul>
					{% endif %}
				</article>
				<form method="post" action="{% url 'salvar_permissoes' usuario.id %}">
					{% csrf_token %}
					<div class="row gtr-uniform">
						<div class="col-12">
							<h4>USUÁRIO TEM PERMISSÃO SOBRE AS UNIDADES: </h4>

							{% for unidade in unidades %}
								{% if unidade.codigo in ids %}
									<div class="col-6 col-12-small">
										<input type="checkbox" id="codigo.{{unidade.codigo}}" name="{{unidade.codigo}}" checked>
										<label for="codigo.{{unidade.codigo}}">{{ unidade.nome }}</label>
									</div>
								{% else %}
									<div class="col-6 col-12-small">
										<input type="checkbox" id="{{ unidade.codigo }}" name="{{unidade.codigo}}" >
										<label for="{{ unidade.codigo }}">{{ unidade.nome }}</label>
									</div>
								{% endif %}
								{% empty %}
								<li class="info">Nenhuma Unidade Encontrada!</li>
							{% endfor %}
							<div class="col-6">
								<h4>TORNAR O USUÁRIO UM ADMINISTRADOR: </h4>
								<input type="checkbox" id="user.{{ usuario.id }}" name="admin" {% if usuario.is_superuser %} checked {% endif %}>
								<label for="user.{{ usuario.id }}">Administrador</label>
							</div>
						</div>
						<div class="col-12">
							<ul class="actions">
								<li><input type="submit" value="Salvar" class="primary" /></li>
								<li><input type="reset" value="Descartar Alterações" /></li>
							</ul>
						</div>
					</div>
				</form>
		</div>
	</div>
</body>
{% else %}
<ul class="messages">
  <li class="warning">Usuário não tem permissão!</li>
</ul>
{% endif %}
{% endblock %}